*{
    box-sizing: border-box;
    margin: 0;
}

.calculator {
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 40px;
}

.calculator .buttons .clear{
    background-color: rgb(0, 0, 0);
    color: #f2f2f2;
}

.calculator .buttons .operator{
    background-color: rgba(0, 140, 255, 0.801);
}

.calculator .buttons .equals{
    grid-row: span 3;
    background-color: #0dc70d
}

#result{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}
button{
    padding: 10px;
}